<!doctype html>
<html lang="ja">
{% load static %}
{% load i18n %}
<head>
    {# Required meta tags #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django REST framework</title>
    {% block header %}
    {% endblock %}
</head>
<body>
    <div>
        {# main contents #}
        <div>
            {% block content %}{% endblock %}
        </div>
    </div>
    {# Optional JavaScript #}
    {% block bodyjs %}
    {% endblock %}
</body>
</html>